.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding:0;
   



}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.team-member__logo {
    width: 200px;
    height: 200px;
    margin-top: 2rem;
}

.team-member__name {
  font-weight: bold;
  text-align: left;
}
.team-member__position {
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
}

.team-member__name,
.team-member__desc {
    text-align: left;
    margin: 0;
}

.team-member__desc {
    max-width: 80%;
    font-size : 0.8rem;
   
}
.team-title{
    margin:0;
    text-align: left;

}

.skip-link5 {
    background: white;
    color: blue;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-1200%);
}
  
.skip-link5:focus {
    transform: translateY(-1050%);
}



@media (max-width:44rem) {
 
    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-member {
        grid-column : span 12;
    }
    





}

